/ = link_to "#", class: "btn-box rounded-3", data: {act_as: "selectHandler", select_value: "formular", target: "#page_type"} do  
/   .btn-image.page-icon.page-grafana
/ = link_to "#", class: "btn-box rounded-3", data: {act_as: "selectHandler", select_value: "formular", target: "#page_type"} do  
/   .btn-image.page-icon.page-elastic  
.container.login-page
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-body
        = simple_form_for(:user, url: auth_path, html: { novalidate: false }) do |f|
          = f.input :email, as: :email, label: false, placeholder: "Email", required: true
          = f.input :password, label: false, placeholder: "Password", required: true
          = f.button :submit, 'Log In'
  .col-md-4