- unless @resources.blank?
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          - @resources.first.keys.each do |key|
            %th
              = key.titleize
      %tbody
        - @resources.each do |resource|
          %tr
          - resource.keys.each do |key|
            - resource_class = resource[key].class
            %th
              = try_to_convert_to_date(resource[key])
