.row
  .col-lg-3
    .bigbox
      %b UTC:
      %span#utc
  .col-lg-3
    .bigbox
      %b Los Angeles:
      %span#los_angeles
  .col-lg-3
    .bigbox
      %b New York:
      %span#new_york
  .col-lg-3
    .bigbox
      %b Hong Kong:
      %span#hong_kong
