.row
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            .material-icons.fa-5x
              access_time
          .col-xs-9.text-right
            .huge.timer#los_angeles
            %div Los Angeles
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            .material-icons.fa-5x
              access_time
          .col-xs-9.text-right
            .huge.timer#new_york
            %div New York
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            .material-icons.fa-5x
              access_time
          .col-xs-9.text-right
            .huge.timer#utc
            %div UTC
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            .material-icons.fa-5x
              access_time
          .col-xs-9.text-right
            .huge.timer#hong_kong
            %div Hong Kong
.row
  .col-lg-6
    .panel.panel-default
      .panel-heading
        Checks
      .panel-body
        %canvas#myChart
        :javascript
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            responsive: true,
            data: {
                labels: #{@split_events_label},
                datasets: #{@split_events}
            },
            options: {
              tooltips: {
                  enabled: true
              },
              hover :{
                  animationDuration:0
              },
              scales: {
                  xAxes: [{
                      ticks: {
                          beginAtZero: true,
                          fontFamily: "'Open Sans Bold', sans-serif",
                          fontSize:11
                      },
                      scaleLabel:{
                          display: false
                      },
                      gridLines: {

                      },
                      stacked: true
                  }],
                  yAxes: [{
                      gridLines: {
                          
                      },
                      ticks: {
                          fontFamily: "'Open Sans Bold', sans-serif",
                          fontSize:11
                      },
                      stacked: true
                  }]
              },
              legend:{
                  display: true
              },
              animation: {
                  onComplete: function () {
                      var chartInstance = this.chart;
                      var ctx = chartInstance.ctx;
                      ctx.textAlign = "left";
                      ctx.font = "10px Open Sans";
                      ctx.fillStyle = "#fff";

                      Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
                          var meta = chartInstance.controller.getDatasetMeta(i);
                          Chart.helpers.each(meta.data.forEach(function (bar, index) {
                              data = dataset.data[index];
                              if(i==0){
                                  ctx.fillText(data, 50, bar._model.y+4);
                              } else {
                                  ctx.fillText(data, bar._model.x-25, bar._model.y+4);
                              }
                          }),this)
                      }),this);
                  }
              },
              pointLabelFontFamily : "Quadon Extra Bold",
              scaleFontFamily : "Quadon Extra Bold",
            }
          });
  .col-lg-6
    .panel.panel-default
      .panel-heading
        Alerts
      .panel-body
