.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            .material-icons.fa-5x
              access_time
          .col-xs-9.text-right
            .huge.timer#utc
            %div UTC
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            .material-icons.fa-5x
              access_time
          .col-xs-9.text-right
            .huge.timer#los_angeles
            %div Los Angeles
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            .material-icons.fa-5x
              access_time
          .col-xs-9.text-right
            .huge.timer#new_york
            %div New York
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            .material-icons.fa-5x
              access_time
          .col-xs-9.text-right
            .huge.timer#hong_kong
            %div Hong Kong
-# .row
-#   .col-lg-6
-#     .panel-heading
-#       Checks
-#     .panel-body
-#       %canvas#myChart
-#       :javascript
-#         var ctx = document.getElementById('myChart').getContext('2d');
-#         var myChart = new Chart(ctx, {
-#           type: 'line',
-#           data: {
-#             labels: #{@split_events_label},
-#             datasets: #{@split_events}
-#           }
-#         });
-# .row
-#   .col-lg-6
-#     .panel-heading
-#       Alerts
-#     .panel-body
