/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require sb-admin-2.min
 *= require_self
 */

.nav-page-header, label {
  color: #112d4e;
}

.material-icons {
  color: #112d4e;
}

.nav .btn {
  padding: 6px 20px;
}

#sidebar-wrapper .material-icons {
  color: white;
}

.sites .page-content .container .panel .panel-body {
  padding: 20px 60px;
}

.sites .page-content .container .panel {
  border: 1px solid #ddd;
}

.bigbox {
  font-size: 20px;
}

.alert {
  background: white;
  border: 1px solid #ddd;
  border-radius: 0;
  color: black;
}


button[type=reset] {
  float: right;
  background: #D50000;
  color: white;
}


.table-responsiv, .panel {
  box-shadow: 0px 1px 0px rgba(0,0,0,0.5);
  border-radius: 0;
}

.panel.chart .panel-heading {
  background: #112d4e;
  color: white;
}

.material-icons {
  vertical-align: middle;
}

li .material-icons {
  margin-right: 12px;
}

.dropdown-header .material-icons {
  margin-right: 20px;
}

.navbar-default .navbar-nav>li>a {
  line-height: 31px;
}

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}

.toggled-2 #sidebar-wrapper {
    overflow-y: auto;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  /* height: 100%; */
  top: 63px;
  bottom: 0;
  margin-left: -250px;
  background: #112d4e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
    /*z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    background: #112d4e;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

#sidebar-wrapper li a {
  color: white;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.fa-5x {
    font-size: 5em;
}

.new_york_banner {
  background-image: url("newyork.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}

.timer {
  font-family: 'Roboto Mono', monospace;
  font-size: 36px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}
.fixed-brand{
    width: auto;
}

.table {
  background: white;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
  color: #112d4e;
}

.nav-page-header {
  margin-left: 30px;
  font-size: 34px;
  float: left;
  line-height: 63px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-radius: 0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.string:focus, .password:focus, .email:focus, .boolean input:focus, .btn:focus, .integer:focus, select:focus, textarea:focus {
    border: 1px solid #112d4e !important;
    outline: 0 !important;
    border-radius: 0px !important;
    box-shadow: none;
}

.dropdown-menu {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.shadow {
  box-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav .dropdown-header {
  background: #0b1f35;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  color: rgba(255,255,255, 0.7);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.sidebar-nav li {
  padding: 5px 0px 5px 0px;
  border-radius: 0;
}


.no-margin{
    margin:0;
}

.fixed-brand {
  width: 250px;
  background: #0b1f35;
  color: white;
  height: 63px;
  border: none;
}

.navbar-collapse {
  background: white;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

.navbar {
  border: 0;
}

.fixed-brand a.navbar-brand {
  color: white;
  line-height: 28px;
  font-size: 28px;
}

#scrollwrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

@media(max-width: 468px) {
  .fixed-brand {
    width: 100%;
  }
}

@media(min-width:768px) {
    .login-page {
      margin-top: 100px;
    }

    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }


    #page-content-wrapper {
      position: absolute !important;
      padding: 15px;
      /* width: 100%; */
      /* overflow-x: hidden; */

      top: 65px;
      bottom: 0;
      width: auto !important;
      right: 0;
      left: 250px;
        /*padding: 20px;
        position: relative;*/
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}


.btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: white;
  font-size:14px;
  line-height:20px;
  font-weight: 500;
  text-transform:uppercase;
  border: 1px solid;
  padding:8px 20px;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #FFF;
  background: #112d4e;
  border-color: #112d4e;
}

.form-control {
  letter-spacing: 1px;
  border-radius: 0;
  font-size:14px;
  line-height:20px;
  height: 40px;
}

.box-group .box:last-child {
  margin-right: 0px;
}

.btn-box {
  width: 247px;
  display: inline-block;
  position: relative;
  margin: 0 25px;
  background-color: #FDFDFD;
  border: 1px solid #CFCFCF;
  color: #AEAEAE;
  -moz-transition: border-color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.2s;
  -o-transition: border-color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.2s;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.2s;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

.box {
  margin: 0px 10px 20px 10px;
  padding: 15px;
  background-color: #FDFDFD;
  border: 1px solid #CFCFCF;
  color: black;
  position: relative;
  -moz-transition: border-color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.2s;
  -o-transition: border-color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.2s;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.2s;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

.box .box-header {
  margin: 0px 0px 10px 0px;
}

.box-header .box-header-content {
  padding: 0px 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 15px;
  min-height: 65px;
  font-size: 20px;
  font-weight: bold;
}

.box .box-footer {
  opacity: 0.5;
}

.box:hover .box-footer {
  opacity: 1;
}

.box .box-footer {
  margin-top: 10px;
}

.btn-box.is-active, .btn-box:hover, .btn-box:focus {
  color: #468FE6;
  border-color: #112d4e;
  text-decoration: none;
}

.btn-box .btn-title {
  font-size: 18px;
  color: inherit;
  text-align: center;
  margin-bottom: 10px;
}

.rounded--3 {
  border-radius: 3px;
}

.page-icon {
  background-image: url(/assets/datasource_icons_sprite.png);
}

.box-icon {
  float: left;
  background-image: url(/assets/datasource_icons_sprite.png);
  height: 75px;
  width: 75px;
  background-repeat: no-repeat;
  opacity: 0.08;
}

.box.elasticsearch .box-icon {
  background-position: 0px 0px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.box.influxdb .box-icon {
  background-position: 0px -70px;
}

.btn-box .btn-image {
  width: 75px;
  height: 75px;
  margin: 20px auto 20px auto;
  display: block;
  background-repeat: no-repeat;
}

.page-grafana {
  background-position: 0px 5px;
}

.page-elasticsearch {
  background-position: -90px 0px;
  opacity: 0.7;
}

.page-influxdb {
  background-position: -90px -75px;
}

.is-active .page-grafana, .btn-box:hover .page-grafana, .btn-box:focus .page-grafana {
  background-position: 0px -135px;
}

.is-active .page-elasticsearch, .btn-box:hover .page-elasticsearch, .btn-box:focus .page-elasticsearch {
  background-position: 0px 0px;
  opacity: 1;
}

.is-active .page-influxdb, .btn-box:hover .page-influxdb, .btn-box:focus .page-influxdb {
  background-position: 0px -75px;
  opacity: 1;
}

.hidden {
  display: none;
}

.error {
  border-top: 3px solid black;
}

.alert-danger, .critical {
  border-top: 3px solid #D50000;
}

.alert-success {
  border-top: 3px solid #4CAF50;
}

.alert-warning, .warning {
  border-top: 3px solid #FFEB3B;
}

.alert-info, .info {
  border-top: 3px solid #2196F3;
}

.dark-theme,
.dark-theme .sidebar,
.dark-theme .navbar,
.dark-theme #page-wrapper,
.dark-theme .navbar-brand,
.dark-theme .dropdown-menu {
    background: #252830;
    color: white;
}

.dark-theme .table-striped>tbody>tr:nth-of-type(odd) {
  background: #1d2028;
}

.dark-theme .btn,
.dark-theme button {
  background: #434857 !important;
  color: white !important;
}

.dark-theme li a:hover,
.dark-theme .table-hover>tbody>tr:hover,
.dark-theme .nav .open>a,
.dark-theme .nav .open>a:focus,
.dark-theme .nav .open>a:hover,
.dark-theme a:hover,
.dark-theme label,
.dark-theme .panel {
  background: #434857 !important;
  color: white !important;
}
.dark-theme li a {
  color: white !important;
}

@media screen and (max-width: 768px) {
  .dark-theme .navbar-right .dropdown {
    float: right;
  }

  .sidebar-nav .dropdown-header {
    display: none;
  }

  .toggled .sidebar-nav .dropdown-header {
    display: block;
  }
}
