/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require sb-admin-2.min
 *= require_self
 */

.material-icons {
  vertical-align: middle;
  margin-right: 10px;
}

.navbar-top-links .dropdown-menu li a {
    padding: 10px 15px;
}

.dropdown-header {
  font-size: 100%;
}

.spacer {
  height: 188px;
}

.user_info {
  margin: 0 auto;
  display: block;
}

.dark-theme .dropdown-header {
  color: white;
}

.dark-theme,
.dark-theme .sidebar,
.dark-theme .navbar,
.dark-theme #page-wrapper,
.dark-theme .navbar-brand,
.dark-theme .dropdown-menu {
    background: #252830;
    color: white;
}

.dark-theme .btn,
.dark-theme button {
  background: #434857 !important;
  color: white !important;
}

.dark-theme li a:hover,
.dark-theme .table-hover>tbody>tr:hover,
.dark-theme .nav .open>a,
.dark-theme .nav .open>a:focus,
.dark-theme .nav .open>a:hover,
.dark-theme a:hover,
.dark-theme label,
.dark-theme .panel {
  background: #434857 !important;
  color: white !important;
}
.dark-theme li a {
  color: white !important;
}

@media screen and (max-width: 768px) {
  .dark-theme .navbar-right .dropdown {
    float: right;
  }
}
