/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require sb-admin-2.min
 *= require_self
 */

.bigbox {
  font-size: 20px;
}

.material-icons {
  vertical-align: middle;
}

li .material-icons {
  margin-right: 12px;
}

.dropdown-header .material-icons {
  margin-right: 20px;
}

.navbar-default .navbar-nav>li>a {
  line-height: 31px;
}

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}

.toggled-2 #sidebar-wrapper {
    overflow-y: auto;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  /* height: 100%; */
  top: 63px;
  bottom: 0;
  margin-left: -250px;
  background: #112d4e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
    /*z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    background: #112d4e;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

#sidebar-wrapper li a {
  color: white;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.fa-5x {
    font-size: 5em;
}

.new_york_banner {
  background-image: url("newyork.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}

.timer {
  font-family: 'Roboto Mono', monospace;
  font-size: 36px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}
.fixed-brand{
    width: auto;
}

.table {
  background: white;
}

.nav-page-header {
  margin-left: 30px;
  font-size: 34px;
  float: left;
  line-height: 63px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.string:focus, .password:focus, .email:focus, .boolean input:focus, .btn:focus, .integer:focus, select:focus, textarea:focus {
    border: 2px solid #3d7ccd !important;
    outline: 0 !important;
    border-radius: 2px !important;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3),0px 0px 0px 1px #69f !important;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav .dropdown-header {
  background: #0b1f35;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  color: rgba(255,255,255, 0.7);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.sidebar-nav li {
  padding: 5px 5px 5px 0px;
  border-radius: 0;
}


.no-margin{
    margin:0;
}

.fixed-brand {
  width: 250px;
  background: #0b1f35;
  color: white;
  height: 63px;
  border: none;
}

.navbar-collapse {
  background: white;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

.navbar {
  border: 0;
}

.fixed-brand a.navbar-brand {
  color: white;
}

#scrollwrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }


    #page-content-wrapper {
      position: absolute !important;
      padding: 15px;
      /* width: 100%; */
      /* overflow-x: hidden; */

      top: 65px;
      bottom: 0;
      width: auto !important;
      right: 0;
      left: 250px;
        /*padding: 20px;
        position: relative;*/
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}

.dark-theme,
.dark-theme .sidebar,
.dark-theme .navbar,
.dark-theme #page-wrapper,
.dark-theme .navbar-brand,
.dark-theme .dropdown-menu {
    background: #252830;
    color: white;
}

.dark-theme .table-striped>tbody>tr:nth-of-type(odd) {
  background: #1d2028;
}

.dark-theme .btn,
.dark-theme button {
  background: #434857 !important;
  color: white !important;
}

.dark-theme li a:hover,
.dark-theme .table-hover>tbody>tr:hover,
.dark-theme .nav .open>a,
.dark-theme .nav .open>a:focus,
.dark-theme .nav .open>a:hover,
.dark-theme a:hover,
.dark-theme label,
.dark-theme .panel {
  background: #434857 !important;
  color: white !important;
}
.dark-theme li a {
  color: white !important;
}

@media screen and (max-width: 768px) {
  .dark-theme .navbar-right .dropdown {
    float: right;
  }
}
